@import 'grid';

.wrapper-home-page {
  height: 1024px;
  background: url("../../img/bg.jpg") no-repeat center center;
  background-size: cover;

  header {
    color: #ffffff;

    .navbar {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 56px;

      .logo {
        display: flex;
        align-items: center;
        font-size: 34px;
      }

      .navbar-menu {
        font-size: 14px;
        padding: 10px;

        a {
          cursor: pointer;
          padding-right: 10px;
          &:hover {
            color: #c7b299;
          }
        }
      }
      .panel {
        .icon-panel {
          cursor: pointer;
          width: 24px;
          height: 24px;
          padding-right: 10px;
        }
      }
    }
  }
}